html {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.App {
  max-width: 1024px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.logo {
  display: flex;
  width: 100%;
  justify-content: left;
}
.logoImg {
  padding: 10px;
}
