html {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.App {
  max-width: 1024px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.logo {
  display: flex;
  max-width: 1024px;
  justify-content: left;
}
.logoImg {
  padding: 10px;
}
.pet::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(0, 100, 0, 0.3);
  position: absolute;
  border-radius: 50%;
  border: 1px solid green;
  top: -5px;
  left: -5px;
  cursor: pointer;
}
.skip::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(58, 58, 58, 0.3);
  position: absolute;
  border-radius: 50%;
  border: 1px solid grey;
  top: -5px;
  left: -7px;
  cursor: pointer;
}
.dontpet::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(100, 0, 0, 0.3);
  position: absolute;
  border-radius: 50%;
  border: 1px solid red;
  top: -6px;
  left: -6px;
  cursor: pointer;
}
.categoryOutline {
  width: 300px;
  height: 400px;
}
.categoryImg {
  width: 300px;
  height: 300px;
}
.stat {
  border: 1px solid red;
  border-radius: 10px;
  width: 300px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statIcon {
  margin: 10px;
  position: relative;
}
.statInfo {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 5px;
}
.statNumber {
  width: 20px;
  font-size: 20px;
}
button {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin: 2px;
  border: 1px solid gray;
}

@media only screen and (min-width: 720px) {
  .categoryOutline {
    width: 500px;
    height: 500px;
  }
  .categoryImg {
    width: 500px;
    height: 500px;
  }
}
